<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>StuInforManageSystem</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.Servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetInforServlet</servlet-name>
    <servlet-class>com.Servlet.GetInforServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetInforServlet</servlet-name>
    <url-pattern>/GetInfor</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddTeacherServlet</servlet-name>
    <servlet-class>com.Servlet.AddInforServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddTeacherServlet</servlet-name>
    <url-pattern>/AddTeacherServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>editTeacher</servlet-name>
    <servlet-class>com.Servlet.editTeacherServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>editTeacher</servlet-name>
    <url-pattern>/editTeacher</url-pattern>
  </servlet-mapping>
 <servlet>
    <servlet-name>DeleteInfor</servlet-name>
    <servlet-class>com.Servlet.DeleteTeacherServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteInfor</servlet-name>
    <url-pattern>/DeleteInfor</url-pattern>
  </servlet-mapping> 
  <filter>
    <filter-name>FiltertTest</filter-name>
    <filter-class>com.util.FilterTest</filter-class>
</filter>
 
<filter-mapping>
    <filter-name>FiltertTest</filter-name>
    <url-pattern>/GetInfor</url-pattern>
</filter-mapping>
<filter-mapping>
    <filter-name>FiltertTest</filter-name>
    <url-pattern>/AddInfor.jsp</url-pattern>
</filter-mapping>
<session-config>   <!--分钟为单位-->
    <session-timeout>0</session-timeout>
</session-config>

</web-app>